
*.asset
CIU Major Projects/Assets/Visual Assets.meta
CIU Major Projects/Assets/Materials.meta
CIU Major Projects/Assets/Audio Assets.meta
CIU Major Projects/Assets/Animations.meta
CIU Major Projects/ProjectSettings/XRSettings.asset
CIU Major Projects/Assets/Visual Assets/PCharacter.meta
CIU Major Projects/Assets/Visual Assets/Misc.meta
CIU Major Projects/Assets/Visual Assets/Menus.meta
CIU Major Projects/Assets/Visual Assets/Environment.meta
CIU Major Projects/Assets/Scripts/Ryan/HighscoreTable.meta
CIU Major Projects/Assets/Scripts/Ryan.meta
CIU Major Projects/Assets/Scripts/Brianna.meta
CIU Major Projects/Assets/Prefabs/Ground.meta
CIU Major Projects/Assets/Prefabs/Controllers.meta
CIU Major Projects/Assets/Materials/Ryan.meta
CIU Major Projects/Assets/Materials/Olivia.meta
CIU Major Projects/Assets/Materials/Daragh.meta
CIU Major Projects/Assets/Materials/Brianna.meta
CIU Major Projects/Assets/Materials/Brayden.meta
CIU Major Projects/Assets/Audio Assets/Themes.meta
CIU Major Projects/Assets/Audio Assets/PCharacter.meta
CIU Major Projects/Assets/Audio Assets/Menus.meta
CIU Major Projects/Assets/Audio Assets/Environment.meta
CIU Major Projects/Assets/Audio Assets/Consumables.meta
CIU Major Projects/Assets/Animations/PCharacter.meta
CIU Major Projects/Assets/Animations/Misc.meta
CIU Major Projects/Assets/Animations/Menus.meta
CIU Major Projects/Assets/Animations/Environment.meta
CIU Major Projects/Assets/Animations/Consumables.meta
*.meta
CIU Major Projects/Assets/Materials/Ryan.meta
CIU Major Projects/Assets/Materials/Olivia.meta
CIU Major Projects/Assets/Materials/Daragh.meta
CIU Major Projects/Assets/Materials/Brianna.meta
CIU Major Projects/Assets/Materials/Brayden.meta
CIU Major Projects/Assets/Audio Assets/Themes.meta
CIU Major Projects/Assets/Audio Assets/PCharacter.meta
CIU Major Projects/Assets/Audio Assets/Menus.meta
CIU Major Projects/Assets/Audio Assets/Environment.meta
CIU Major Projects/Assets/Audio Assets/Consumables.meta
CIU Major Projects/Assets/Animations/PCharacter.meta
CIU Major Projects/Assets/Animations/Misc.meta
CIU Major Projects/Assets/Animations/Menus.meta
CIU Major Projects/Assets/Animations/Environment.meta
CIU Major Projects/Assets/Animations/Consumables.meta
CIU Major Projects/Assets/Scripts/Brianna.meta
CIU Major Projects/Assets/Visual Assets/Environment.meta
CIU Major Projects/Assets/Visual Assets/Menus.meta
CIU Major Projects/Assets/Visual Assets/Misc.meta
CIU Major Projects/Assets/Visual Assets/PCharacter.meta
*.meta
*.meta
*.meta
CIU Major Projects/Assets/Visual Assets/Environment.meta
CIU Major Projects/Assets/Visual Assets/Menus.meta
CIU Major Projects/Assets/Visual Assets/Misc.meta
CIU Major Projects/Assets/Visual Assets/PCharacter.meta
*.meta
