
*.asset
CIU Major Projects/Assets/Visual Assets.meta
CIU Major Projects/Assets/Materials.meta
CIU Major Projects/Assets/Audio Assets.meta
CIU Major Projects/Assets/Animations.meta
CIU Major Projects/ProjectSettings/XRSettings.asset
